@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  background: #f3f3ff;
  min-height: 940px;
  width: 100%;
  height: 100vh;
}

.circleBg {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 40;
  left: 40;
  background: linear-gradient(to bottom, #f25a2c, #f25a2c);
  filter: blur(90px);
  z-index: -999999;
}
.circleBg2 {
  width: 150px;
  z-index: -9999;
  height: 150px;
  position: absolute;
  bottom: 5;
  right: 0;
  background: linear-gradient(to bottom, #da5a0a, #e0960d);
  filter: blur(80px);
}
